body {
    background-color: #f8f8f8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #9f9f9f;
}

    header {
        display: inline-block;
        width: 1000px;
        margin-left: calc((100% - 1200px) / 2);
    }

    /* header > img ----> varnele reiskia kad paims img butent is header/tiesioginio tevo elemento */
        
        header > img {
            display: inline-block;
            float: left;
        }

        nav {
            display: inline-block;
            float: right;
            margin-top: 60px;
            font-size: 18px;
        }

            a {
                display: inline-block;
                float: left;
                margin-left: 10px;
                color: #9f9f9f;
                text-decoration: none;
                padding: 5px;
                padding-left: 20px;
                padding-right: 20px;
                border: 3px solid transparent;
            }

            /* a:last-of-type ---> paims paskutine a reiksme */

            a:last-of-type {
                border-color: #9f9f9f;
                border-radius: 21px;
                padding-left: 25px;
                padding-right: 25px;
                text-align: center;
                text-transform: uppercase;

            }
            
    main {
        display: inline-block;
        width: 1000px;
        margin-left: calc((100% - 1200px) / 2);
    }

        div {
            display: inline-block;
            width: 40%;
            float: left;
            margin-top: 100px;
        }

            h1 {
                font-size: 120px;
                margin: 0px;
            }

            p {
                font-size: 30px;
                margin: 0px;
            }

        main > img {
            display: inline-block;
            width: 50%;
            float: right;
        }

